<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="style.css" />
</head>
<body>

	<header class="header">
		<h1>MGM STORE</h1>

		<ul>
			<li>INICIO</li>
			<li>PRODUTOS</li>
			<li>CONTATO</li>
		</ul>

	</header>

	<main class="main">
		<h3>PRODUTOS</h3>

	<div class="content-cards">
		<div class="card">
			<img src ="imagens/paysandu.jpg" class="imagem-produto" />
			<p class="titulo">
				Paysandu 2020
			</p>
	
			<p class="valor">
				R$: 60,00
			</p>
			<button class="botao-comprar">COMPRAR</button>
	</div>
		<div class="card">
		<img src ="imagens/bangu.jpg" class="imagem-produto" />
		<p class="titulo">
			Bangu 2020
		</p>

		<p class="valor">
			R$: 60,00
		</p>
		<button class="botao-comprar">COMPRAR</button>
		</div>
		<div class="card">
			<img src ="imagens/madureira.jpg" class="imagem-produto" />
			<p class="titulo">
				Madureira 2019
			</p>
	
			<p class="valor">
				R$: 60,00
			</p>
			<button class="botao-comprar">COMPRAR</button>
			</div>
			<div class="card">
				<img src ="imagens/remo.jpg" class="imagem-produto" />
				<p class="titulo">
					Remo 2021
				</p>
		
				<p class="valor">
					R$: 60,00
				</p>
				<button class="botao-comprar">COMPRAR</button>
				</div>
	</main>

	</body>
	</html>