<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>

	<header class="header">
		<h1>MGM STORE</h1>

		<ul>
			<li>INICIO</li>
			<li>PRODUTOS</li>
			<li>CONTATO</li>
		</ul>

	</header>

	<main class="main">
		<h2>PRODUTOS</h2>
		<br>
		<h3>CAMISAS</h3>
	<div class="content-cards">
		<div class="card">
			<img src ="https://static.netshoes.com.br/produtos/camisa-lobo-paysandu-i-2022/08/J76-0221-008/J76-0221-008_zoom1.jpg?ts=1639761399" class="imagem-produto" />
			<p class="titulo">
				Paysandu 2020
			</p>
	
			<p class="valor">
				R$: 60,00
			</p>
			<button class="botao-comprar">COMPRAR</button>
	</div>
		<div class="card">
		<img src ="https://static.netshoes.com.br/produtos/camisa-liga-retro-bangu-1966/24/395-6150-024/395-6150-024_zoom1.jpg?ts=1647938988" class="imagem-produto" />
		<p class="titulo">
			Bangu 2020
		</p>

		<p class="valor">
			R$: 60,00
		</p>
		<button class="botao-comprar">COMPRAR</button>
		</div>
		<div class="card">
			<img src ="https://static.netshoes.com.br/produtos/camisa-icone-sports-madureira-i-2019/16/FTO-0029-016/FTO-0029-016_zoom1.jpg?ts=1616689464" class="imagem-produto" />
			<p class="titulo">
				Madureira 2019
			</p>
	
			<p class="valor">
				R$: 60,00
			</p>
			<button class="botao-comprar">COMPRAR</button>
			</div>
			<div class="card">
				<img src ="https://static.kappabrasil.com.br/produtos/camisa-kappa-remo-supporter-2021-marinho/08/D24-3496-008/D24-3496-008_zoom1.jpg?ts=1628780590&ims=544x" class="imagem-produto" />
				<p class="titulo">
					Remo 2021
				</p>
		
				<p class="valor">
					R$: 60,00
				</p>
				<button class="botao-comprar">COMPRAR</button>
				</div>
			</div>

				<br> 

				<h3>BERMUDAS</h3>
				<div class="content-cards">
					<div class="card">
						<img src ="https://static.netshoes.com.br/produtos/bermuda-adidas-3s-masculina/72/2FW-5437-172/2FW-5437-172_zoom1.jpg?ts=1620695400&ims=544x" class="imagem-produto" />
						<p class="titulo">
							Adidas 3S - Preto e Cinza
						</p>
				
						<p class="valor">
							R$: 55,00
						</p>
						<button class="botao-comprar">COMPRAR</button>
				</div>
					<div class="card">
					<img src ="https://static.netshoes.com.br/produtos/bermuda-penalty-x-masculina/12/50D-0029-012/50D-0029-012_zoom1.jpg?ts=1637835565&?ims=544xhttps://static.netshoes.com.br/produtos/bermuda-penalty-x-masculina/12/50D-0029-012/50D-0029-012_zoom1.jpg?ts=1637835565&?ims=1088x" class="imagem-produto" />
					<p class="titulo">
						Penalty - Marinho
					</p>
			
					<p class="valor">
						R$: 45,00
					</p>
					<button class="botao-comprar">COMPRAR</button>
					</div>
					<div class="card">
						<img src ="https://static.netshoes.com.br/produtos/bermuda-penalty-raiz/08/D23-4401-008/D23-4401-008_zoom1.jpg?ims=544x" class="imagem-produto" />
						<p class="titulo">
							Penalty Raiz - Azul
						</p>
				
						<p class="valor">
							R$: 45,00
						</p>
						<button class="botao-comprar">COMPRAR</button>
						</div>
						<div class="card">
							<img src ="https://static.netshoes.com.br/produtos/bermuda-topper-stamp-logo-masculina/06/D30-4232-006/D30-4232-006_zoom1.jpg?ts=1633096192&ims=544x" class="imagem-produto" />
							<p class="titulo">
								Topper Stamp - Preto
							</p>
					
							<p class="valor">
								R$: 60,00
							</p>
							<button class="botao-comprar">COMPRAR</button>
							</div>
					</div>

	</main>

	</body>
	</html>