<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>MGM STORE</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>

	<div class="allnavbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
		  <h1>MGM STORE</h1>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="">INICIO</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#produtos">PRODUTOS</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#contatos">CONTATOS</a>
              </li> 

            </ul>
          </div>
        </div>
      </nav>
	</div>



	<main class="main">
		<h2 id="produtos">PRODUTOS</h2>
		<br>
		<h4>CAMISAS</h4>
	<div class="content-cards">
		<div class="card">
			<img src ="https://static.netshoes.com.br/produtos/camisa-lobo-paysandu-i-2022/08/J76-0221-008/J76-0221-008_zoom1.jpg?ts=1639761399" class="imagem-produto" />
			<p class="titulo">
				Paysandu 2020
			</p>
	
			<p class="valor">
				R$: 60,00
			</p>
			<button class="botao-comprar">COMPRAR</button>
	</div>
		<div class="card">
		<img src ="https://static.netshoes.com.br/produtos/camisa-liga-retro-bangu-1966/24/395-6150-024/395-6150-024_zoom1.jpg?ts=1647938988" class="imagem-produto" />
		<p class="titulo">
			Bangu 2020
		</p>

		<p class="valor">
			R$: 60,00
		</p>
		<button class="botao-comprar">COMPRAR</button>
		</div>
		<div class="card">
			<img src ="https://static.netshoes.com.br/produtos/camisa-icone-sports-madureira-i-2019/16/FTO-0029-016/FTO-0029-016_zoom1.jpg?ts=1616689464" class="imagem-produto" />
			<p class="titulo">
				Madureira 2019
			</p>
	
			<p class="valor">
				R$: 60,00
			</p>
			<button class="botao-comprar">COMPRAR</button>
			</div>
			<div class="card">
				<img src ="https://static.kappabrasil.com.br/produtos/camisa-kappa-remo-supporter-2021-marinho/08/D24-3496-008/D24-3496-008_zoom1.jpg?ts=1628780590&ims=544x" class="imagem-produto" />
				<p class="titulo">
					Remo 2021
				</p>
		
				<p class="valor">
					R$: 60,00
				</p>
				<button class="botao-comprar">COMPRAR</button>
				</div>
			</div>

				<br> 

				<h4>BERMUDAS</h4>
				<div class="content-cards">
					<div class="card">
						<img src ="https://static.netshoes.com.br/produtos/bermuda-adidas-3s-masculina/72/2FW-5437-172/2FW-5437-172_zoom1.jpg?ts=1620695400&ims=544x" class="imagem-produto" />
						<p class="titulo">
							Adidas 3S - Preto e Cinza
						</p>
				
						<p class="valor">
							R$: 55,00
						</p>
						<button class="botao-comprar">COMPRAR</button>
				</div>
					<div class="card">
					<img src ="https://static.netshoes.com.br/produtos/bermuda-penalty-x-masculina/12/50D-0029-012/50D-0029-012_zoom1.jpg?ts=1637835565&?ims=544xhttps://static.netshoes.com.br/produtos/bermuda-penalty-x-masculina/12/50D-0029-012/50D-0029-012_zoom1.jpg?ts=1637835565&?ims=1088x" class="imagem-produto" />
					<p class="titulo">
						Penalty - Marinho
					</p>
			
					<p class="valor">
						R$: 45,00
					</p>
					<button class="botao-comprar">COMPRAR</button>
					</div>
					<div class="card">
						<img src ="https://static.netshoes.com.br/produtos/bermuda-penalty-raiz/08/D23-4401-008/D23-4401-008_zoom1.jpg?ims=544x" class="imagem-produto" />
						<p class="titulo">
							Penalty Raiz - Azul
						</p>
				
						<p class="valor">
							R$: 45,00
						</p>
						<button class="botao-comprar">COMPRAR</button>
						</div>
						<div class="card">
							<img src ="https://static.netshoes.com.br/produtos/bermuda-topper-stamp-logo-masculina/06/D30-4232-006/D30-4232-006_zoom1.jpg?ts=1633096192&ims=544x" class="imagem-produto" />
							<p class="titulo">
								Topper Stamp - Preto
							</p>
					
							<p class="valor">
								R$: 42,00
							</p>
							<button class="botao-comprar">COMPRAR</button>
							</div>
							</div>	
							
								<br>

					<h4>CALÇADOS</h4>
                    <div class="content-cards">
                        <div class="card">
                            <img src ="https://static.netshoes.com.br/produtos/chuteira-futsal-penalty-bravo-xxii/02/50D-1010-002/50D-1010-002_zoom1.jpg?ts=1651677509&ims=544x" class="imagem-produto" />
                            <p class="titulo">
                                Penalty Bravo XXII - Preto e Vermelho
                            </p>
                    
                            <p class="valor">
                                R$: 155,00
                            </p>
                            <button class="botao-comprar">COMPRAR</button>
                    </div>

                        <br>

                        <div class="card">
                        <img src ="https://static.netshoes.com.br/produtos/chuteira-dray-society-foorcy-322-verde-agua-infantil-36-agua/60/K84-3501-060/K84-3501-060_zoom1.jpg?ts=1655136405&ims=544x" class="imagem-produto" />
                        <p class="titulo">
                            Dray Society Foorcy 322 Verde - Infatil
                        </p>
                
                        <p class="valor">
                            R$: 105,00
                        </p>
                        <button class="botao-comprar">COMPRAR</button>
                        </div>
                        <div class="card">
                            <img src ="https://static.netshoes.com.br/produtos/chuteira-futsal-nike-beco-2-futsal/42/004-5830-042/004-5830-042_zoom1.jpg?ts=1637857658&ims=544x" class="imagem-produto" />
                            <p class="titulo">
                                Nike Beco 2 Futsal - Laranja e Preto
                            </p>
                    
                            <p class="valor">
                                R$: 190,00
                            </p>
                            <button class="botao-comprar">COMPRAR</button>
                            </div>
                            <div class="card">
                                <img src ="https://static.netshoes.com.br/produtos/chuteira-futsal-adidas-deportivo/26/NQQ-7419-026/NQQ-7419-026_zoom2.jpg?ts=1617206665&?ims=544xhttps://static.netshoes.com.br/produtos/chuteira-futsal-adidas-deportivo/26/NQQ-7419-026/NQQ-7419-026_zoom2.jpg?ts=1617206665&?ims=1088x" class="imagem-produto" />
                                <p class="titulo">
                                    Adidas Deportivo - Verde e Preto
                                </p>
                        
                                <p class="valor">
                                    R$: 275,00
                                </p>
                                <button class="botao-comprar">COMPRAR</button>
                                </div>
                        </div>


					</div>

					<br>

					<div class="col-md-12">
						<h2 id="contatos">CONTATO</h2>
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label">Nome</label>
							<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome completo">
						  </div>
						  <div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label">Email</label>
							<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@dominio.com">
						  </div>
						  <div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label">Telefone</label>
							<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="(99) 99999-9999">
						  </div>
			
						  <div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
						  </div>


	</main>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	</body>
	</html>