<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>

	<header class="header">
		<h1>MGM STORE</h1>

		<ul>
			<li>INICIO</li>
			<li>PRODUTOS</li>
			<li>CONTATO</li>
		</ul>

	</header>

	<main class="main">
		<h3>PRODUTOS</h3>

	<div class="content-cards">
		<div class="card">
			<img src ="https://static.netshoes.com.br/produtos/camisa-lobo-paysandu-i-2022/08/J76-0221-008/J76-0221-008_zoom1.jpg?ts=1639761399" class="imagem-produto" />
			<p class="titulo">
				Paysandu 2020
			</p>
	
			<p class="valor">
				R$: 60,00
			</p>
			<button class="botao-comprar">COMPRAR</button>
	</div>
		<div class="card">
		<img src ="https://static.netshoes.com.br/produtos/camisa-liga-retro-bangu-1966/24/395-6150-024/395-6150-024_zoom1.jpg?ts=1647938988" class="imagem-produto" />
		<p class="titulo">
			Bangu 2020
		</p>

		<p class="valor">
			R$: 60,00
		</p>
		<button class="botao-comprar">COMPRAR</button>
		</div>
		<div class="card">
			<img src ="https://static.netshoes.com.br/produtos/camisa-icone-sports-madureira-i-2019/16/FTO-0029-016/FTO-0029-016_zoom1.jpg?ts=1616689464" class="imagem-produto" />
			<p class="titulo">
				Madureira 2019
			</p>
	
			<p class="valor">
				R$: 60,00
			</p>
			<button class="botao-comprar">COMPRAR</button>
			</div>
			<div class="card">
				<img src ="https://static.kappabrasil.com.br/produtos/camisa-kappa-remo-supporter-2021-marinho/08/D24-3496-008/D24-3496-008_zoom1.jpg?ts=1628780590&ims=544x" class="imagem-produto" />
				<p class="titulo">
					Remo 2021
				</p>
		
				<p class="valor">
					R$: 60,00
				</p>
				<button class="botao-comprar">COMPRAR</button>
				</div>
	</main>

	</body>
	</html>